<%= form_with(model:user, local:true) do |f| %>

<% if @user.errors.any? %>
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.email_field :email%>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>

<p>
<%= f.label :image  %>
<%# file_fieldがファイルを選択してあげる %>
<%= f.file_field :image %>
</p>

<%= f.submit "Create my account" %>
<% end %>