<h1><%= @user.name %>のページ</h1>

<p>メールアドレス：<%= @user.email %></p>
<p>プロフィール画像：<%= image_tag @user.image.url %></p>

<%= link_to 'Edit', edit_user_path(@user.id) %>
<%= link_to 'Back', new_session_path %>