<h3>以下の内容で送信する</h3>

<%= form_with(model: @post, url: posts_path, local: true ) do |f| %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :image %>
  <%= f.hidden_field :image_cache %>
  
  <p>内容：　<%= @post.content %></p>
  <p>画像：　<%= image_tag(@post.image.url) if @post.image && @post.image.url %></p>
  
  <%= f.submit "投稿する" %>
<% end %>

<%= form_with(model: @post, url: new_post_path, local: true, method: "get") do |f| %>
  <%= f.hidden_field :image_cache %>
  <%= f.submit "戻る", name: 'back' %>
<% end %>