<h1>Index</h1>

<table>
  <tr>
    <td>内容</td>
    <td>画像</td>
    <td>投稿者</td>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <th><%= post.content %></th>
      <th><%= post.image %></th>
      <th><%= post.user.name %></th>
      <th><%= link_to '詳細を見る', post_path(post), class: "btn btn-info" %></th>
      <% if current_user.id == post.user_id %>
      <th><%= link_to '編集する', edit_post_path(post), class: "btn btn-success" %></th>
      <th><%= link_to '削除する', post_path(post), method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除しても良いですか？' } %></th>
      <% else %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to '新しく投稿する', new_post_path, class: "btn btn-primary" %>