<h1>Index</h1>

<table>
  <% @posts.each do |post| %>
    <tr>
      <th>内容</th>
      <td><%= post.content %></td>
    </tr>
    <tr>
      <th>画像</th>
      <td><%= image_tag(post.image.url) if post.image && post.image.url %></td>
    </tr>
    <tr>
      <th>投稿者</th>
      <td><%= post.user.name %></td>
    </tr>
    <tr>
      <th>編集機能</th>
      <td><%= link_to '詳細を見る', post_path(post), class: "btn btn-info" %></td>
      <% if current_user.id == post.user_id %>
        <td><%= link_to '編集する', edit_post_path(post), class: "btn btn-success" %></td>
        <td><%= link_to '削除する', post_path(post), method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除しても良いですか？' } %></td>
      <% else %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to '新しく投稿する', new_post_path, class: "btn btn-primary" %>