<h1>Show</h1>

<% unless current_user.id == @post.user_id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入りを解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<p>
<strong>内容</strong>
<%= @post.content %>
</p>

<p>
<strong>画像</strong>
<%= image_tag @post.image.url %>
</p>

<p>
<strong>投稿者</strong>
<%= @post.user.name %>
</p>

<%= link_to '編集する', edit_post_path(@post) %>
<%= link_to '一覧へ戻る', posts_path %>